# Notes
__draft__/

# ia
.claude/

# IDE
.vscode/

# Python
__pycache__/

# Notebooks
.ipynb_checkpoints/

# Virtual envs
.venv*/

# Data downloaded
data/communes-france-2025.csv

# Pytest
.pytest_cache/
.coverage

# Ruff
.ruff_cache/

# Build
target/
dist/
build/
*.egg-info/
movieapp.spec

# UV
uv.lock

